<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Games
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="medium">
  
  
      <ion-grid>
        <ion-row no-padding>
            <ion-card  style="width:48%;" >
                <ion-item href="https://play.google.com/store/apps/details?id=com.nomina.evermoreknights&hl=en&gl=US" color="dark">
                  <img style="height:200px; width:300px;" src="https://awsimages.detik.net.id/community/media/visual/2022/11/02/evermore-knights-1_169.jpeg?w=1200"  >
                  <ion-label>
                   <h1 class='ion-text-uppercase'> Evermore Knights </h1>
                      Google Play Store <br>
                      Mobile Games, RPG Game
                  </ion-label>
                </ion-item>
            </ion-card>
          <ion-card  style="width:48%;" >
                <ion-item href="https://play.google.com/store/apps/details?id=com.KingTempe.Chess2" color="dark">
                  <img style="height:200px; width:200px;" src="https://play-lh.googleusercontent.com/p1Ovy17CVEtoQ6WespHh0NTF_6-ac6lmJqLaI1_t0pbeQNhgWbRLn1Zn9ayRs4lmOA=s180-rw"  >
                  <ion-label>
                   <h1 class='ion-text-uppercase'> Chess 2.0 (Mobile) </h1>
                      Google Play Store <br>
                      Mobile Games, Strategy Game
                  </ion-label>
                </ion-item>
            </ion-card>
            <ion-card  style="width:48%;" >
                <ion-item href="https://samlynux.itch.io/chess-2-point-0" color="dark">
                  <img style="height:200px; width:300px;" src="https://img.itch.zone/aW1hZ2UvNTUwNjYwLzI5MDczNjkucG5n/347x500/w%2BDn1L.png"  >
                  <ion-label>
                   <h1 class='ion-text-uppercase'> Chess 2.0 (PC) </h1>
                      itch.io <br>
                      PC game, Strategy Game
                  </ion-label>
                </ion-item>
            </ion-card>
            <ion-card  style="width:48%;" >
              <ion-item href="https://umn.itch.io/tanking" color="dark">
                <img style="height:200px; width:300px;" src="https://img.itch.zone/aW1hZ2UvNjU1MDc5LzM1MTg2OTkucG5n/347x500/Cu8pqE.png"  >
                <ion-label>
                 <h1 class='ion-text-uppercase'> TANKING </h1>
                    itch.io <br>
                    PC game, Action Game
                </ion-label>
              </ion-item>
          </ion-card>
            <ion-card  style="width:48%;" >
              <ion-item href="https://play.google.com/store/apps/details?id=com.KaisarTempe.CrashOrDrive" color="dark">
                <img style="height:200px; width:200px;" src="https://play-lh.googleusercontent.com/sRDYCYPT7U3oNmhQGi3OG9f9qG8RA7eVEYvkE5pK73VG9C0mD3Omk9t2JGvWNIMiwvQ=s180-rw"  >
                <ion-label>
                 <h1 class='ion-text-uppercase'> Crash or Drive </h1>
                    Google Play Store <br>
                    Mobile game, VR compatible, Endless Driving game
                </ion-label>
              </ion-item>
          </ion-card>
        </ion-row>
        
      </ion-grid>
</ion-content>
